@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

*{
    text-decoration: none;
    list-style: none;
}


.banner, .about-us, .consultation-wrapper, .steps-container, .offerings-container, .part, .questions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
a:hover{
    color: blue!important;
}

/* Navbar style */
header{
    box-shadow: 10px 10px 8px #888888;
}
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
nav{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 50px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

nav ul {

}
nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 40px;
}
nav a, .option{
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 0px 10px;
    border-radius: 3px;
}
a.active, a:hover, .option:hover{
    border: 1px solid #333333;
    transition: .5s;
    cursor: pointer;
}
nav #icon{
    color: #333333;
    font-size: 30px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.account{
    display: flex;
}
.login{
    background-color:#2CAEE2;
    border : none;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
}

/* Banner styles */
.banner{
    width: 100%;
    /* height: 596px; */
    margin-bottom: 10px;
    overflow: hidden;
}
.left-hand-banner{
    background-image: url('./images/top-banner-1-bg.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-details{
    width: 320px;
    padding-left: 110px;
}
.btn-primary{
    background-color: #2caee2;
    border: 1px solid #2caee2;
    border-radius: 15px;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
}
.logo{
    display: d-flex;
    margin-top: 10px;
}


.right-hand-banner{
    background-image: url('./images/top-banner-2-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.banner-img{
    height: 401px;
    margin-left: 180px;
    margin-top: 70px;
    width: 60%;
}

/* About styles */
.about{
    overflow: hidden;
}
.about-banner img{
    width: 100%;
}
.about-details{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.about-details p{
    width: 50%;
    margin: 0 auto;
}
.about-description{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-left: 50px;
}


/* Consultation styles */
.consultation{
    margin-top: -100px;
    height: auto;
    overflow: hidden;
}
.consultation-description{
    padding: 40px 40px 0px 100px;
}
.consultation-banner{
    background-image: url('./images/consultation/Vector\ 4.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 501px;
}
.consultation-banner img{
    margin-top: 60px;
    width: 80%;
}

/* Services style */
.services{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    overflow: hidden;
}
.service{
    text-align: center;
}

/* Steps style  */
.steps-container{
    overflow: hidden;
    height: auto;
    margin-bottom: 55px;
}
.steps-banner{
    background-image: url('./images/steps/background.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.steps-banner img{
    height: 495px;
    width: 250px;
}
.steps{
    display: flex;
    flex-flow: column;
}
.step{
    display: flex;
}
.step img{
    height: 40px;
    width: 40px;
}
.step-description{
    padding: 0px 30px;
}
.step-description h4 {
    margin: 5px 0 0 0;
}


/* Popular style  */
.popular{
    text-align: center;
}
.popular-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}
.shop{
    border: 1px solid #dcdcdc;
    padding: 0 10px 10px 10px;
}
.shop-location{
    display: flex;
}
.shop-location img{
    height: 30px;
    width: 30px;
}
.shop-location p{
    margin: 0 0 0 5px;
}
.btn-popular{
    margin: 25px;
}

/* Offerings style  */
.offerings-container{
    width: 80%;
    margin: 0 auto;
}
.offerings-container img{
    width: 90%;
}
.btn-offerings{
    margin-bottom: 20px;
}
.offer{
    display: flex;
    margin: 5px 0px;
}
.offer img{
    height: 30px;
    width: 30px;
}

.offer a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin: 2px 0 0 8px;
}


/* varified style */
.varified-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

/* Part style */
.part-description{
    display: grid;
    grid-template-columns: 3fr 9fr;
}
.part-banner{
    background-image: url('./images/part/bg.png');
    background-repeat: no-repeat;
}
.part-banner img{
    width: 90%;
}

/* Frequently questions style */
.questions-banner{
    background-image: url('./images/questions/bg.png');
    background-repeat: no-repeat;
    background-size: initial;
    padding-left: 85px;
    height: 520px;
}
.questions-banner img{
    margin-top: -60px;
    width: 100%;
}
.accordian-container{
    width: 85%;
    margin: 0 auto;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  /* Blogs style */
  .blogs{
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 5px;
      margin-bottom: 40px;
  }
  .blog{
      width: 214px;
  }
  .blog img{
      border-radius: 10px;
      width: 214px;
  }
  .blog-details{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .text-success{
      color: #2caee2;
  }
  .arrows{
      text-align: center;
      margin: 30px 0px;
  }
  .blog-arrows{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
  }
  .blog-arrows img{
      margin: 0px 5px;
  }


  /* Footer style  */
  footer{
      background-image: url('./images/footer-bg.png');
      background-repeat: no-repeat;
      background-size: initial;
      background-position: right bottom;
      /* text-align: center; */
  }
  .footer{
      width: 80%;
      margin: 0 auto;

  }
  .tm{
      margin: 20px 0px 0px;
      display: flex;
  }
  .tm img{
      height: 40px;
  }
  .tm span{
        font-size: 25px;
        font-weight: bold;
        margin: 0 10px;
  }
  .links{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
  }
  .contact{
      display: grid;
      grid-template-columns: repeat(2, 1fr) 1.4fr;
      grid-gap: 2 rem;
  }
  .contact-icon{
      margin: 6px 0px;
      display: flex;
      align-items: center;
  }
  .contact-icon img{
    height: 15px;
    width: 15px;
}
.contact-icon small{
    margin: 0 0 0 8px;
}
.download-app{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright{
    display: block;
    text-align: center;
    margin-top: 10px;
}


/* users review */
.users-reviews-section{
    display: grid;
    grid-template-columns: 4fr 8fr;
}
.reviewer-img{
    width: 100%;
    height: 100%;
}
.reviewer-section{
    border: 1px solid #E5E5E5;
    padding: 0 20px;
}
.reviewer-name{
    display: flex;
}
.reviewers-img{
    height: 80px;
    width: 100px;
}
.top-quote-img{
    margin-top: -20px;
    display: inline-block;
    background-color: white;
}
.users{
    display: flex;
    justify-content: end;
    margin-top: -50px;
}
.user{
    height: 80px;
    width: 100px;
    margin: 5px;
    border-radius: 10px;
}
.arrows{
    display: flex;
    justify-content: end;
}
.new-arrows{
    margin-right: 120px;
    margin-top : -30px
}


@media (min-width: 768px) and (max-width: 992px){
    .blogs, .varified-container{
        grid-template-columns: repeat(3, 1fr);
    }
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}

@media (min-width: 769px) and (max-width: 1100px){
    nav{
        justify-content: space-between;
    }
    nav ul{
        display: none;
    }
}
@media (min-width: 669px) and (max-width: 768px) {
    .banner, .about-us, .consultation-wrapper, .services, .steps-container, .popular-container, .offerings-container, .part, .varified-container, .part-description, .questions, .blogs, .links, .contact, .users-reviews-section{
        grid-template-columns: repeat(2, 1fr);
    }
    nav{
        justify-content: space-between;
    }
    nav #icon{
        display: block;
    }
    nav ul{
        display: none;
    }
}
@media (max-width: 688px){
    .banner, .about-us, .consultation-wrapper, .services, .steps-container, .popular-container, .offerings-container, .part, .varified-container, .part-description, .questions, .blogs, .links, .contact, .users-reviews-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .right-hand-banner{
        display: none;
    }
    .consultation{
        margin-top: 0;
    }
    .offerings, .blog, .address, .social, .download-app, .offer{
        margin: 0 auto;
    }
    .steps{
        margin-top: 10px;
    }
    .top-quote-img{
        margin-top: 0;
    }
    .users{
        display: flex;
        justify-content: center;
        margin-top: 0;
    }
    .arrows{
        justify-content: center;
    }
    .new-arrows{
        margin-left: 120px;
    }
    nav{
        justify-content: space-between;
    }
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2f3640;
        top: 65px;
        left: -120%;
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
    }
    nav a{
        color: white;
    }
    a.active, a:hover{
        border: none;
    }
    nav ul.show{
        left: 0;
    }
    .about-details, .contact-title{
        width: 100%;
        text-align: center;
    }
    .consultation-description, .part-description, .varified-container, .services, .steps{
        padding: 0;
        width: 80%;
        margin: 0 auto;
    }
    .blog{
        width: auto;
        margin: 8px;
    }
    .download-app{
        flex-flow: column;
    }
    .download-app span img{
        margin: 8px;
    }
}