@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.banner, .about-us, .consultation-wrapper, .steps-container, .offerings-container, .part, .questions{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/* Banner styles */
.banner{
    width: 100%;
    height: 596px;
    margin-bottom: 10px;
    overflow: hidden;
}
.left-hand-banner{
    background-image: url('./images/top-banner-1-bg.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-details{
    /* margin-left: 210px;
    padding-top: 150px; */
    width: 320px;
    padding-left: 110px;
}
.btn-primary{
    background-color: #2caee2;
    border: 1px solid #2caee2;
    border-radius: 15px;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
}
.logo{
    display: d-flex;
    margin-top: 10px;
}


.right-hand-banner{
    background-image: url('./images/top-banner-2-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.banner-img{
    height: 401px;
    margin-left: 180px;
    margin-top: 70px;
    width: 60%;
}

/* About styles */
.about{
    overflow: hidden;
}
.about-banner img{
    width: 100%;
}
.about-details{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.about-details p{
    width: 50%;
    margin: 0 auto;
}
.about-description{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-left: 50px;
}


/* Consultation styles */
.consultation{
    margin-top: -100px;
    height: 700px;
    overflow: hidden;
}
.consultation-description{
    padding: 40px 40px 0px 100px
}
.consultation-banner{
    background-image: url('./images/consultation/Vector\ 4.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 501px;
}
.consultation-banner img{
    margin-top: 60px;
    width: 80%;
}

/* Services style */
.services{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    overflow: hidden;
}
.service{
    text-align: center;
}

/* Steps style  */
.steps-container{
    overflow: hidden;
    height: auto;
    margin-bottom: 55px;
}
.steps-banner{
    background-image: url('./images/steps/background.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.steps-banner img{
    height: 495px;
    width: 250px;
}
.steps{
    display: flex;
    flex-flow: column;
}
.step{
    display: flex;
}
.step img{
    height: 40px;
    width: 40px;
}
.step-description{
    padding: 0px 30px;
}
.step-description h4 {
    margin: 5px 0 0 0;
}


/* Popular style  */
.popular{
    text-align: center;
}
.popular-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}
.shop{
    border: 1px solid #dcdcdc;
    padding: 0 10px 10px 10px;
}
.shop-location{
    display: flex;
}
.shop-location img{
    height: 30px;
    width: 30px;
}
.shop-location p{
    margin: 0 0 0 5px;
}
.btn-popular{
    margin: 25px;
}

/* Offerings style  */
.offerings-container{
    width: 80%;
    margin: 0 auto;
}
.btn-offerings{
    margin-bottom: 20px;
}
.offer{
    display: flex;
    margin: 5px 0px;
}
.offer img{
    height: 30px;
    width: 30px;
}
.offer a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin: 2px 0 0 8px;
}


/* varified style */
.varified-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

/* Part style */
.part{
}
.part-description{
    display: grid;
    grid-template-columns: 3fr 9fr;
}
.part-banner{
    background-image: url('./images/part/bg.png');
    background-repeat: no-repeat;
}
.part-banner img{
    width: 90%;
}

/* Frequently questions style */
.questions{
}
.questions-banner{
    background-image: url('./images/questions/bg.png');
    background-repeat: no-repeat;
    background-size: initial;
    padding-left: 85px;
    height: 520px;
}
.questions-banner img{
    margin-top: -60px;
}
.accordian-container{
    width: 85%;
    margin: 0 auto;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  /* Blogs style */
  .blogs{
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 5px;
  }
  .blog img{
      border-radius: 10px;
  }
  .blog-details{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .text-success{
      color: #2caee2;
  }

@media (max-width: 688px){
    .banner, .about-us, .consultation-wrapper, .services, .steps-container, .popular-container, .offerings-container, .part, .varified-container, .part-description, .questions, .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
}